@import 'variables';
@import "bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

.searchbox{
    border-left: 0px;
    border-color: var(--bs-border-color);
}
.searchfield{
    border-right: 0px;
}
.link{
    color: var(link-color);
}
.text-darker{
    color: var(--bs-dark);
}
.bg-footer{
    background-color: $footer-bg;
    font-size: small;
    font-weight: 600;
}
.link-list-footer li a {
    text-decoration: none;
    color: var(--bs-secondary);
}
.link-list-footer li :hover {
    transition: 200ms;
    color: var(--bs-dark);
}
.text-footer{
    color: var(footer-h-color);
}
.login-button{
    background-color: $login-button-color;
    color: var(--bs-light);
}
.login-button:hover{
    background-color: $login-button-hover ;
    color: var(--bs-light);
}
.gradient-bg{
    background: linear-gradient(180deg, rgb(9, 120, 240) 0%, rgb(19, 172, 247) 100%);
}
.main-search{
    min-height: 75vh;
    
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.big-text{
    font-size: 4.5rem;
    
}
.h-fit-content{
    height: fit-content;
}
.w-fit-content{
    width: fit-content;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}